.carousel-section {
  @include preserve-3d;
  overflow: hidden;
  
  .carousel-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;

    @media(max-width: $screen-sm) {
      height: 100vh;
      max-height: 100vh;
	  background-position: center right;
	  padding-right: 550px;
    }
  }

  .owl-controls {
    @include horizontal-center;
    position: absolute;
    bottom: 15px;
  }
}

