{{#contentFor "title"}}Athletic Team Building - Physical Training for Athletic Teams{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="SEAL Team Physical Training offers Athletic Team Building to motivate and train athletic teams to work together as a team and become winners.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/programs/team-building/athletic">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="SEAL Team Physical Training offers Athletic Team Building to motivate and train athletic teams to work together as a team and become winners.">
{{/contentFor}}

<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Athletic Team Building</h1>
  <h2>A Better Product On And Off The Field</h2>
    <p class="lead">SEAL Team Physical Training offers Athletic Team Building to motivate and train athletic teams to work together as a team and become winners.</p>

<p>Every school wants its athletic teams to win championships. But how do you gain a competitive edge that builds mental and physical toughness while proving the value of teamwork?</p>

<p>We have adapted SEAL Team Physical Training to address the special needs of athletic teams in ways that can't be duplicated in the gym or on the athletic field. Your team will benefit from physical and mental challenges designed to enhance physical and mental toughness. Just as important, your athletes will learn to rely on each other to achieve far more as a team than they can as individuals -- a lesson that will pay great dividends when the game is on the line late in the season.</p>
<a href="/programs/contact-athletic-training" class="btn btn-primary btn-large">Request Info</a>
</div>
</div>

<div class="page-section page-section-dark page-section-narrow">
  <div class="container">

    <h1>How It Works</h1>

	<p class="lead"> We deploy to your athletic facility or a location of your choice. We bring the gear, official SEAL Team Physical Training t-shirts. You bring your team and plenty of gumption.</p>
  </div>
</div>

<div class="page-section page-section-light page-section-narrow">
<div class="container">
<h1>Bigger, Stronger, Tougher</h1>
<p>We can customize sessions for a more intense workout level, as well as incorporate more challenging group evolutions. This is a great jump start for pre-season training camp. </p>
	<p style="float:left"><img src="/images/athletic-training.jpg" alt="Shaka Smart and VCU men's basketball team"></p>
	<p style="float:right"><p style="float:right"><img src="/images/athletic-training2.jpg" alt="University of Illinois men's basketball team"></p>
	
<h4>SEAL Team Training Graduates</h4>
<p>University of Texas, Basketball<br>
Longwood University, Basketball<br>
VCU Basketball, Soccer &amp; Volleyball<br>
University of Illinois Basketball<br>
University of Illinois Football<br>
University of Toledo Basketball<br>
Gallaudet Baseball<br>
Georgia State Basketball<br>
Randolph Macon Football<br>
Saint Catherine's Lacrosse<br>
Washington Mystics WNBA
</p>
<p style="clear:both">Contact SEAL Team Physical Training to discuss a training plan for your team and learn more about scheduling former US Navy SEAL, John McGuire to meet with your athletic team.</p>
<a href="/programs/contact-athletic-training" class="btn btn-primary btn-large">Request Info</a>

  </div>
</div>


<div class="page-section page-section-dark page-section-narrow">
  <div class="container">

    <h1>Winning</h1>

	<p class="lead">We don't play games. We just help teams become winners.</p>

  </div>
</div>

<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
  <h2>University of Texas</h2>
  <p>Instructor McGuire has an unbelievable feel for what it takes to put a team together.</p>
  <p><small>Shaka Smart<br>
    Head Men's Basketball Coach<br>
    University of Texas</small></p>
  <p><img src="/images/texas-tweet.png" alt="Texas Longhorns"></p>
   <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/4jg8Nvm3lDo' frameborder='0' allowfullscreen></iframe></div>
   <p>&nbsp;</p>

  <h2>University of Toledo</h2>
  <p>SEAL Team PT has worked with us for several years. Instructor McGuire and his staff do an incredible job with conditioning, team building, developing communication and leadership training. Every year I walk away extremely grateful for this opportunity. I love the fact our players are placed in situations outside their comfort zone and challenged to find solutions. All season long we refer back to the lessons we learned during this training. It is such a great way to kick off the year! </p>
  <p><small>Tricia Cullup<br>
    Head Coach</small></p>

  <h2>Longwood University</h2>
  <p>A life changing experience for our team and program. John led us in a way that was confrontational yet simple. He enabled and trained us to attack our fears, rather than give into them. There is a significant difference in my players after this experience that will influence the outcome of our season and more importantly impact us for life. We will be forever grateful to John for his leadership and influence he has left on our team.</p>
  <p>We were pushed to the limit with push-ups -- something so simple but difficult especially with John demanding excellence on every rep and exposed the consequences of starting over - real pressure.
  </p>
  <p><small>Jayson Gee<br>
    Head Coach</small></p>  

  <h2>Arrowhead High School</h2>
  <p>Each year I only get 5 contact days in the summer to work with our guys. This summer I used 3 of those day with SEAL Team Physical Training and we accomplished more in these 3 days then we have each of the last 15 summers.</p>
  <p> Although I had watched the videos of VCU I was still unsure of exactly how you were going to react working with high school players. I was slightly concerned it would be too hard or the kids would get hurt. However I thought your teaching style was spot on, respectful but forceful and the activities pushed the players to their limits but did not jeopardize their safety. Your ability to read people was extremely impressive.
  </p>
  <p><small>Craig Haase<br>
    Head Boys Basketball Team Coach<br>
    Hartland, WI</small></p>
       

  <h2>Virginia Commonwealth University</h2>
  <p><a href="http://www.thepostgame.com/blog/men-action/201503/john-mcguire-seal-team-training-navy-vcu-basketball-shaka-smart" target="blank">Training VCU Basketball Team Is Part Of This Former Navy SEAL's Amazing Story</a> -- ThePostGame<br />
	2014 A-10 Championship, First Place<br />
  2013 A-10 Championship, Second Place<br />
	2012 NCAA Tournament, Third Round<br />
  2011 CAA Regular Season Champion
	   </p>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/lS76dGZRI0o' frameborder='0' allowfullscreen></iframe></div>
<p>&nbsp;</p>

<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/AJa5JwIPPoE' frameborder='0' allowfullscreen></iframe></div>



<p>&nbsp;</p>
<h2>University of Illinois</h2>
<p>2014 NIT second round</p>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/XsVl4SsQkPU' frameborder='0' allowfullscreen></iframe></div>

<p>&nbsp;</p>
<h2>University of Toledo</h2>
<p>2012 and 2013 Men's MAC Championship
</p>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/-_C-FAOrWys' frameborder='0' allowfullscreen></iframe></div>

<p>&nbsp;</p>
<h2>University of Toledo</h2>
<p>2012 Women's MAC Championship
</p>
<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/6hLulZukEAA' frameborder='0' allowfullscreen></iframe></div>

  </div>
</div>

