{{#contentFor "title"}}Common Questions Asked by New Recruits - SEAL Team Physical Training{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="Common questions asked by new SEAL Team Physical Training recruits.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/faqs">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Common questions asked by new SEAL Team Physical Training recruits.">
{{/contentFor}}


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  
  <h1>Got Questions</h1>
  <h2>Common questions asked by new recruits.</h2>
  <p class="lead">Don't see the answer to your question? {{#link-to "contact"}}Contact us{{/link-to}} for additional intel.</p>

<h4>Q: What is SEAL Team Physical Training?</h4>
<hr />
<p><strong>A</strong>: SEAL Team PT is an outdoor, team-based fitness training program designed by John McGuire, a former U.S. Navy SEAL. The program is based on much of the same training actual Navy SEALs experience. No two classes are the same and training locations vary from day-to-day.  
</p>

Thanks Bro!

  </div>
</div>


 

