{{#contentFor "title"}}Corporate Team Building - Physical Training for Corporations{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="SEAL Team Physical Training helps motivate and teach employees to work together as a team, communicate, and be more effective.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/programs/team-building/corporate">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="SEAL Team Physical Training helps motivate and teach employees to work together as a team, communicate, and be more effective.">
{{/contentFor}}

<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Corporate Team Building</h2>
  <h2>We Help Create Rockstar Employees</h2>
    <p class="lead">SEAL Team Physical Training helps motivate and teach employees to work together as a team, communicate, and be more effective.</p>
	<p>Our team program is tough. We challenge the team as a whole to hone their ideas around what it means to succeed. We know that teams are strengthened and leaders developed under shared challenges.  Comfort zones are left behind as the team rallies around shared adversity and goals.</p>
	<p>Our training program outcomes are designed to create: improved team problem-solving, cooperation, positive risk taking, leadership, trust, increased morale, enhanced performance and collaborative functioning.</p>
	<a href="/programs/contact-corporate-training" class="btn btn-primary btn-large">Request Info</a>
	</div>
	</div>
	
	<div class="page-section page-section-dark page-section-narrow">
  <div class="container">
    <h1>How It Works</h1>

	<p class="lead">Our team can deploy to your location or we can arrange a location elsewhere. Your choice. We bring all the training gear and official SEAL Team Physical Training t-shirts. You bring your team.</p>
  </div>
</div>

<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>Truly remarkable to experience</h1>
    <blockquote>On behalf of my PwC colleagues, I would like to personally thank you and your team for a fantastic corporate team building event. Utilizing Navy SEAL training techniques, you brought a group of modestly athletic professionals together to focus on a common goal and developed a cohesive team spirit in shorter time than possibly imaginable. It is truly remarkable to experience the method by which you organize and empower groups comprised of very different people and motivate individuals to push their limits for the good of the team. While I woke up very sore the day following our corporate teaming event (and the day after as well), the experience you provided exceeded my expectations. We will certainly be returning for "remedial training." Hooyah!! <small>James A. Carleton,
PricewaterhouseCoopers
 
</small></blockquote>

<blockquote>SEAL Team Physical Training dramatically helped my leadership team. We had spent less than three months together when John McGuire assisted in helping the team to rely on each other and build synergy. His program is mentally and physically challenging as well as fun! The "at your pace" program was suitable for all of my leaders and everyone thoroughly enjoyed it. I highly recommend his program to any team looking to build teamwork, communication, and leadership!
 <small>Paul Bajus, VP,
Wells Fargo Bank
 
</small></blockquote>
  </div>
</div>

<div class="page-section page-section-light page-section-narrow">
  <div class="container">
<h1>Programs that deliver results</h1>

<p>Training is designed to engage team members at a level they can individually handle. Everyone is included and valued, which is part of the process.  We have one-day or multi-day programs.  Call us to talk about the problems you hope our training will solve.</p>  

<p>Give your team the edge to come together with power and purpose to advance the organization.</p>

	<div class="col-md-2">
    <h4>Park Workout</h4>
	<p>Former U.S. Navy SEAL, John McGuire surveying the team.</p>
	</div>
	<div class="col-md-9">
	<img src="/images/corp-team.jpg" alt="SEAL Team corporate team building in park">
	</div>
	
	<p style="clear:both">&nbsp;</p>
    
	<div class="col-md-9">
	<img src="/images/corp-team2.jpg" alt="SEAL Team corporate building on Potomac River">
	</div>
	<div class="col-md-2">
	<h4>Team Paddling</h4>
	<p>Corporate team building on the Potomac river.</p>
	</div>
	
	<p style="clear:both">&nbsp;</p>
    <p>Contact SEAL Team Physical Training to discuss <strong>corporate team building </strong> and learn more about scheduling former U.S. Navy SEAL, John McGuire to meet with your employees.</p>
	<a href="/programs/contact-corporate-training" class="btn btn-primary btn-large">Request Info</a>

  </div>
</div>


<!-- leave off until we get updated clients list 
<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>Official Graduates</h1>

	<p class="lead">Over the years we've worked with some amazing companies and delivered fantastic results.</p>

<h3>Ryan Homes &middot; Dominion &middot; Captial One &middot; First Union &middot; Wachovia &middot; KBS &middot; Merrill Lynch
</h3>

  </div>
</div>
-->
