{{#contentFor "title"}}Fitness Program for Kids - Downtown Richmond VA{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="The fitness program for kids includes many of the same team building exercises used by SEAL Team Physical Training.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/programs/kids">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="The fitness program for kids includes many of the same team building exercises used by SEAL Team Physical Training.">
{{/contentFor}}

<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Fitness Program for Kids</h2>
  <h2>Downtown -- Richmond, VA</h2>
    <p class="lead">The fitness program for kids includes many of the same team building exercises used by SEAL Team Physical Training. Hour long classes are held for one week, mid summer.</p>
	<a href="/programs/contact-kids-program" class="btn btn-primary btn-large">Request Info</a>
	</div>
	</div>
	
	<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>Fun Included</h1>
	<h2>A safe and valuable learning experience</h2>
	<p>&nbsp;</p>


<div style="padding-left:0" class="col-md-4">
	<img src="/images/kids-rafting.jpg" alt="kids fitness class - river rafting">
	<h5 style="padding-top:22px">A total fitness experience</h5>
	</div>
	<div style="padding-left:0" class="col-md-8">
	<img src="/images/kids-fitness-class.jpg" alt="kids kayaking">
	<p><br>Kids will build confidence, learn team work and leadership skills. It's also a wonderful chance to build memories with activities such as boating, climbing obstacles as a team and rope exercises.</p>
	<h5>Open to children between 5 to 15 years of age</h5>
<ul>
<li>SEAL Pup: 5-8 years old</li>
<li>SEAL Scout: 9-12 years old</li>
<li>SEAL Teen: 13-15 years old</li>
	</ul>
	<p>&nbsp;</p>
	<a href="/programs/contact-kids-program" class="btn btn-primary btn-large">Request Info</a>
	</div>

	
  </div>
</div>



