{{#contentFor "title"}}Motivational Speaker John McGuire - Former U.S. Naval SEAL Sniper{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="If you desire to challenge, motivate and inspire your audience, John McGuire is an excellent choice for your next business seminar, conference or event.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/programs/motivational-speaking">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="If you desire to challenge, motivate and inspire your audience, John McGuire is an excellent choice for your next business seminar, conference or event.">
{{/contentFor}}

<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Motivational Speaker</h1>
  <h2>John McGuire</h2>
<p class="lead">Former U.S. Navy SEAL, owner of SEAL Team Physical Training and father, John McGuire, learned the principles of teamwork, communication and leadership throughout his 10 year stint in the Navy.
</p>
<p>If you desire to <b>challenge, motivate and inspire your audience</b>, John McGuire is an excellent choice for your next business seminar, conference or event.
</p>
	<p>Topics covered  can include John’s personal stories of tragedy turned to triumph, lessons learned as a Navy SEAL, and how communication, teamwork and leadership can make you or your team more effective.  Participants will learn to overcome challenges in their professional and personal lives, building a foundation for success and fulfillment.</p>
</div>
</div>

	<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>John captivated the entire audience</h1>
    <blockquote>While looking for a motivational speaker for our annual sales awards banquet, we came across John McGuire. With a story that everyone could relate to, he captivated the entire audience.  John's story is one that would apply to just about any organization and will beyond a shadow of a doubt leave a lasting impression on your organization.  You will walk away knowing that you too can achieve the same greatness with just a little discipline and motivation.  What a great American hero.<small>W.O. Grubb Crane Rental,
Scott McDougle,
Vice President Sales and Business 
</small></blockquote>
  </div>
</div>
	<div class="page-section page-section-light page-section-narrow">
  <div class="container">
	<div style="padding-left:0" class="col-md-5">
	<h4>John McGuire</h4>
	<p>Former U.S. Navy SEAL Sniper, John McGuire, is available to speak at events throughout the U.S. and abroad.</p>
	<h4>As Seen On</h4>
	<p>CNN, ESPN, CBS Sports, NBC Sports, Sports Illustrated, MSNBC</p>
	<h4>Request Availability</h4>
	<p>Get more information on John McGuire, including availability, detailed speaking topics, and fees.</p>
	<a href="/programs/contact-speaker" class="btn btn-primary btn-large">Request</a>
	</div>
	<div class="col-md-7">
	<img src="/images/speaker-john-mcguire.jpg" alt="John McGuire on set of CNN">
<style>.embed-container { position: relative; padding-bottom: 56.25%; margin-top: 10px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/NmL5Hv311jo?rel=0' frameborder='0' allowfullscreen></iframe></div>
	</div>

  </div>
</div>

