{{#contentFor "title"}}Official Intel, News &amp; Events - SEAL Team Physical Training{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="Official Intel, News &amp; Events - SEAL Team Physical Training.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/news">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Official Intel, News &amp; Events - SEAL Team Physical Training.">
{{/contentFor}}

<div class="slanted-header first-thing">
  <div class="container">
    <h1>Official Intel, News &amp; Events</h1>
    <!--<h4>Appearances, musings, and ramblings</h4>-->
  </div>
</div>

<div class="page-section-lighter page-section-narrow">
  <div class="container" style="padding-top:50px;padding-bottom:50px;">
    <div id="social-stream"> </div>
  </div>
</div>