{{#contentFor "title"}}Try a Free Boot Camp-Style
Workout - SEAL Team Physical Training{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="Try a free SEAL Team Physical Training boot camp-style workout modeled after John McGuire’s experience as a Navy SEAL.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/trial">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Try a free SEAL Team Physical Training boot camp-style workout modeled after John McGuire’s experience as a Navy SEAL.">

<style type="text/css">
.resp-container {
    position: relative;
    overflow: hidden;
    /*padding-top: 56.25%;*/
}
.resp-iframe {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
iframe.resp-iframe {
    height: 1000px;
}
.page-section-dark, .page-section-dark p, .page-section-dark .list {
    color: #bfbfbf;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #131212;
}
.city {
  padding-left:0;
}
.first-thing {
    padding-top: 95px;
    margin-top: unset!important;
}
</style>   
{{/contentFor}}


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Try a Free Workout</h1>
</div>
</div>

<div class="page-section page-section-dark page-section-narrow">
<div class="container">
<h2>The team is waiting for you.</h2>
<p class="lead">Try the boot camp-style workout modeled after John McGuire’s experience as a Navy SEAL.</p> 
</div>
</div>

<div class="page-section page-section-lighter page-section-narrow">
  <div class="container">

  <br><br>
  <h2>Free Workout Locations & Times</h2> 
  <br><br>
  <div class="col-md-4 city">
  <p><strong>Richmond</strong><br>
  6:00pm - Mon-Fri<br>
  7:00am Sat (Run)
  </p>
</div>
<div class="col-md-4 city">
  <p><strong>West End (Richmond)</strong><br>
	5:45am - Mon-Fri<br>
  7:00am Sat (Run)
  </p>
</div>

<div class="clearfix"></div>
<hr>


  <p>&nbsp;</p>
  <h2>Get a free workout</h2>
  <p>Complete the form to get your <strong>workout</strong> and the <strong>exact location of the next workout</strong>.</p>
  <p><small>*One free workout per person. Additional workouts may require a fee.</small></p>


<div class="resp-container">
    <iframe sandbox="allow-forms allow-scripts" class="resp-iframe" src="https://a-blog.com/st/form.php" allowfullscreen></iframe>
</div>

<script>
window.addEventListener("message", function(event) {
  if (event.origin != 'https://www.a-blog.com/st') {
    // something from an unknown domain, let's ignore it
    return;
  }

  alert( "received: " + event.data );

  // can message back using event.source.postMessage(...)
});  
</script>


				


  </div>
</div>


