extends /layouts/default

block body-contents
  h1 Hi #{registration.name.first} #{registration.name.last},
  p.text-larger Thanks for becomming a member of SEAL Team Physical Training!
  p &nbsp;
  p
    | This email is to serve as confirmation of your registration for the 2 Week Boot Camp. You will receive a separate email which serves as your credit card receipt.
  p &nbsp;
  p
    | Please see links below for a copy of your signed agreement and be sure to 
    strong complete the participation waiver
    |  before attending your first class. Hooyah!
  p &nbsp;
  +button({ url: "http://sealteampt.com/join/agreement/" + registration.id, label: "View Signed Agreement" })
  br
  +button({ url: 'https://rightsignature.com/forms/Waiver7may2013-8826b4/token/40eba9eb163', label: 'Participation Waiver' })
  p &nbsp;
  h4 Important Information
  p
    | On your first day of boot camp, report to the location you selected during registration.
  p &nbsp;

  p
    | Show up early and check in with the lead instructor. Be hydrated and ready to go.  Wear running shoes and comfortable workout clothing.  Gloves are a good idea, but not required.
    p &nbsp;  

  p
    | Richmond - 5:45am, 9:30am, or 6:00pm
    br 
    | Day 1: Meet at Bryan Park 

  p &nbsp;

  p
    | Richmond West End - 5:45am or 6:00pm
    br 
    | Day 1: Meet at Deep Run Park

    p &nbsp;

  p
    | Washington, DC - 5:45am
    br 
    | Day 1: Park and meet on 14th Street across from Washington Monument

    p &nbsp;

  p
    | Charlottesville - 6:00am
    br 
    | Day 1: Meet at Darden Towe Park

  p
    | If you have questions regarding your new membership, please reply to this email or call (804) 262-1894 between the hours of 9am -3pm (M-F).

  p &nbsp;
  p
    | Navy SEAL John McGuire
    br
    | SEAL Team Physical Training, Inc.
    br
    | 4501 Highwoods Parkway, Suite 410
    br
    | Glen Allen, VA 23060
    br
    | (804) 262-1894
    br

  
