extends /layouts/default

block body-contents
  h2 Hi #{registration.name.first} #{registration.name.last},
  p.text-larger Thanks for becoming a member of SEAL Team Physical Training!
  p &nbsp;
  p
    | This email is to serve as confirmation of your registration for the 2 Week Boot Camp. You will receive a separate email which serves as your credit card receipt.
  p &nbsp;
  p
    | Please see links below for a copy of your signed agreement and be sure to 
    strong complete the participation waiver
    |  before attending your first class. Hooyah!
  p &nbsp;
  +button({ url: "http://sealteampt.com/join/agreement/" + registration.id, label: "View Signed Agreement" })
  br
  +button({ url: 'https://rightsignature.com/forms/Fitness-Intake-Fo-d89fda/token/ff56efcb760', label: 'Waiver' })
 
  p &nbsp;
  h4 Important Information
  
  p
    | If your doing this month's boot camp, please reference the locations below for your first workout. Day 2 locations will be sent to you via email Monday at 12pm.

   p &nbsp;

  p
    | If signed up for the boot camp after the start of the first class, please call (804) 262-1894 so we can get you all the information you'll need.  
  
  p &nbsp;

  p
    | Show up early and check in with the lead instructor. Be hydrated and ready to go.  Wear running shoes and comfortable workout clothing.  Gloves are a good idea, but not required.
    
  p &nbsp; 

  p
    | All classes are on hour in length. To successfully complete the boot camp, you must complete 9 of 10 classes. If we have to cancel a workout due to poor weather and unsafe driving conditions, it will not be held against you.

  p &nbsp;
  h4 Boot Camp Locations

  p
    | Richmond - 5:45am, 9:30am or 6:00pm
    br 
    | Day 1: Meet at Bryan Park 

  p &nbsp;

  p
    | Richmond West End - 5:45am
    br 
    | Day 1: Meet at Deep Run Park

    p &nbsp;

  p
    | Washington, DC - 5:45am
    br 
    | Day 1: Park and meet at backside of Smithsonian Castle on Independence Ave 

    p &nbsp;

  p
    | Charlottesville - 6:00am
    br 
    | Day 1: Meet at Darden Towe Park

    p &nbsp;

  p
    | If you have any questions please reply to this email or call (804) 262-1894 between the hours of 9am -3pm (M-F).

  p &nbsp;

  p
    | Navy SEAL John McGuire
    br
    | SEAL Team Physical Training, Inc.
    br
    | 4501 Highwoods Parkway, Suite 410
    br
    | Glen Allen, VA 23060
    br
    | (804) 262-1894
    br

  
