extends /layouts/default

block body-contents
  h2 Hi #{registration.name.first} #{registration.name.last},
  p.text-larger Thanks for becoming a member of SEAL Team Physical Training!
  p &nbsp;
  p
    | This email is to serve as confirmation of your registration for the 2 Week Boot Camp. You will receive a separate email which serves as your credit card receipt.
  p &nbsp;
  p
    | Please see the link below for a copy of your signed agreement. 


  p &nbsp;
  +button({ url: "http://sealteampt.com/join/agreement/" + registration.id, label: "View Signed Agreement" })
 
  p &nbsp;
  h4 Important Information
  
  p
    | The SEAL Team Physical Training office will contact you to get you all the information you'll need including how to find specific daily workout locations. 


   p &nbsp;

  p
    | Please call (804) 262-1894 if you have any questions.
  
  
  p &nbsp;

  p
    | Show up early and check in with the lead instructor. Be hydrated and ready to go.  Wear running shoes and comfortable workout clothing.  Gloves are a good idea, but not required.
    
  p &nbsp; 

  p
    | All classes are one hour in length. To successfully complete the boot camp, you must complete 9 of 10 classes. If we have to cancel a workout due to poor weather and unsafe driving conditions, it will not be held against you.

  p &nbsp;
  h4 SEAL Team Physical Training Workout Times

  p
    | Richmond - 5:45am, or 6:00pm, M-F

  p &nbsp;

  p
    | Richmond West End - 5:45am, M-F

    p &nbsp;

  p
    | Washington, DC - 5:45am, M-F

    p &nbsp;

  p
    | Charlottesville - 6:30am Tues, Thurs and 7:00am Mon, Wed, Fri

    p &nbsp;

  p
    | If you have any questions please reply to this email or call (804) 262-1894 between the hours of 9am -5pm (M-F).

  p &nbsp;

  p
    | Navy SEAL John McGuire
    br
    | SEAL Team Physical Training, Inc.
    br
    | 11357 Nuckols Road #164
    br
    | Glen Allen, VA 23059
    br
    | (804) 262-1894
    br

  
