.btn-cta {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  position: relative;
  background: $brand-red;
  font-family: $font-family-jarhead;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding: 4px 10px;  
  margin: 0 0 10px 0;
  font-weight: 600;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $brand-red transparent transparent transparent;
    position: absolute;
    top: 0;
    bottom: 0;
  }


  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent $brand-red transparent;
    position: absolute;
    top: 0;
    bottom: 0;
  }
   &:hover {
    $hoverColor: saturate(lighten($brand-red, 5%), 5%);
    color: #fff;
    background: $hoverColor;
    &:after { border-color: $hoverColor transparent transparent transparent; }
    &:before { border-color: transparent transparent $hoverColor transparent; }
  }

  &:active, &:hover:active {
    $hoverColor: desaturate(darken($brand-red, 5%), 5%);
    color: #fff;
    background: $hoverColor;
    &:after { border-color: $hoverColor transparent transparent transparent; }
    &:before { border-color: transparent transparent $hoverColor transparent; }
  }

}

.btn-primary {
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  position: relative;
  background: $brand-yellow;
  font-family: $font-family-jarhead;
  color: #624a11;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding: 4px 10px;
  margin: 0 0 10px 0;
  font-weight: 600;

  .icon {
    font-size: 10px;
    padding-left: 6px;
    display: inline-block;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $brand-yellow transparent transparent transparent;
    position: absolute;
    top: 0;
    bottom: 0;
  }


  &:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent $brand-yellow transparent;
    position: absolute;
    top: 0;
    bottom: 0;
  }


  &.btn-large {
    color: #3a2b07;
    font-size: 21px;

    .icon {
      font-size: 16px;
    }

  }

  &:hover {
    $hoverColor: saturate(lighten($brand-yellow, 5%), 5%);
    color: #000;
    background: $hoverColor;
    &:after { border-color: $hoverColor transparent transparent transparent; }
    &:before { border-color: transparent transparent $hoverColor transparent; }
  }

  &:active, &:hover:active {
    $hoverColor: desaturate(darken($brand-yellow, 5%), 5%);
    color: #000;
    background: $hoverColor;
    &:after { border-color: $hoverColor transparent transparent transparent; }
    &:before { border-color: transparent transparent $hoverColor transparent; }
  }
  
}