@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin responsive-font-size($pts) {
  font-size: $pts / 1300 * 100vw;

  @media(max-width: $screen-md) {
    font-size: $pts / 900 * 100vw; 
  }

  @media(max-width: $screen-sm) {
    font-size: max($pts/2, 18) * 1px; 
  }

  @media(min-width: $screen-lg) {
    font-size: $pts * 1px;
  }
}

@mixin preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
