{{#contentFor "title"}}Personalized Group Training - Boot Camp Program - Physical Training Program{{/contentFor}}
{{#contentFor "meta"}}
  <meta name="description" content="Personalized group training in an encouraging, team atmosphere that really does bring out the best in people.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/about">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Personalized group training in an encouraging, team atmosphere that really does bring out the best in people.">
{{/contentFor}}

<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
    <h1>Personalized Group Training</h1>

    <h2>Stronger, Healthier &amp; More Confident</h2>

    <p class="lead"> You will be challenged, you will be sore, and you will feel better today than you did 10 years ago.</p>
	<p>After viewing several degrading boot camp-style programs around America, I came up with a more positive approach to developing the mind and body.  We do not provide in-your-face, boot camp-style training.  Yelling doesn't impress me; push ups do!  We do provide what I call <b>personalized group training</b> in an encouraging, team atmosphere that really does bring out the best in people.   <b>We take each person to their personal limit</b>.  You will be challenged, you will be sore, and you will feel better today than you did ten years ago.</p>
<p>It doesn't surprise me that 90% of our clients come from word of mouth.  We attract people from all backgrounds including United States Secret Service personnel, government agencies, lawyers, doctors, nurses, business owners, secretaries, and law enforcement personnel.</p>

<div class="col-md-5">
	<h4>The SEAL Team Physical Training Program</h4>
	<p>To complete our programs <i>go at your own pace</i>.  Members work together, providing motivation and encouragement to achieve success.</p>
	<p><a href="/join" title="Join SEAL Team Physical Training">Join today</a> and start your training tomorrow.  Take care and please tell a friend. I look forward to working with you at the next workout.</p>
	<p>
	<img src="/images/signature.png" alt="John McGuire"></p>
	<a href="/join/register" class="btn btn-primary btn-large">Join Today</a>
	</div>
	<div class="col-md-7">
	<p style="float:left"><img src="/images/seal-team-class.jpg" alt-"SEAL Team Physical Training Program"></p>
	</div>

  </div>
</div>

<div class="page-section page-section-dark page-section-narrow">
  <div class="container">
    <h1>Our Mission</h1>
    <h3 class="light">SEAL Team Physical Training helps people become stronger, healthier and more confident.</h3>
    <p>Everyone has value and everyone is part of the team.  You will do more with us as a team than you would on your own. Simply listen to your body, go at your pace, and keep it fun. We will get you in the best shape of your life.</p>
  </div>
</div>

<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>A Message from</h1>
    <h2>CEO, John McGuire</h2>
    
    <p class="lead">Since the founding of SEAL Team Physical Training in 1998, my mission has been to help people view fitness as a gateway to a better life.</p>
	<p>I was born and raised in Richmond, VA. In high school I trained in karate, wrestled, ran cross country, raced bicycles, and played soccer. After High School I joined the US Navy and served 10 years as a US Navy SEAL.  While a Navy SEAL I served around the world and became a Sniper Instructor. In addition to many endurance races, I trained in Wing Chung, Mui Thai, Jujitsu, and American-style boxing. While serving, my team and I trained hundreds of people worldwide to be their best, both physically and mentally. We experienced firsthand how the combination of teamwork and physical fitness can bring out the best in people.</p>


<div style="padding-left:0" class="col-md-5">
	<h4 style="color:#333">Teamwork &amp; Leadership</h4>
	<p>SEAL Team Physical Training is based on my personal experience</strong> and includes many exercise regimens practiced by Navy SEALs. If you keep fitness fun you are more likely to stick with it. We put a strong emphasis on teamwork, leadership, and confidence in our workouts. </p>
	</div>
	<div style="padding-left:0" class="col-md-7">
	<img src="/images/navy-seal-mcguire.jpg"><br>
	<!-- add <caption> to css -->
	<span style="font-size:12px; color:#9b9b9b">Former U.S. Navy SEAL Sniper John McGuire</span>
	</div>


<h3>Our Workouts</h3>
<p>Every day is something different at a different place. Several Fitness Members have done tours in Iraq, Afghanistan, and other hot spots in the world. Others, who trained with us, are now actual US Navy SEALs, Army Special Forces, FBI agents, and several are serving in other military and law enforcement careers. It is always great to have these folks working out with us when they are in town.   If someone saved your life, would the differences between you really matter?  On our team everyone has value and we leave no-one behind. 
</p>

<p>Many have heard me say just because you are tired does not mean you are defeated.  We bring people together and show them they can do more than they think, especially when they work as a team.</p>

<h3>Our Members</h3>
<p>The best thing about SEAL Team Physical Training is the people who participate. One member said she moved to Richmond, joined our program, and felt like she instantly had 100 friends.
</p>

<p>You don't need to be an aspiring member of the US Armed Services to attend our program. A majority of our members are people just like yourself, individuals who are looking to improve their level of physical fitness. Our members have completed marathons and doing pull-ups for the first time in their lives. One particular woman could not complete one lap around a track when we met her. Recently she told me she lost 4 dress sizes and regularly runs 5k races.</p>



   
    </div>
  </div>
</div>

