{{#contentFor "title"}}Free Boot Camp with 12 Month Membership{{/contentFor}}
{{#contentFor "meta"}}
<meta name="robots" content="noindex, nofollow">
<style type="text/css">
button {
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    position: relative;
    background: #f3d124;
    font-family: "refrigerator-deluxe";
    color: #62671e;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding: 8px 15px;
    margin: 0 0 10px 0;
    font-weight: 600;
}    
h1 {
    font-family: "refrigerator-deluxe";
    text-transform: uppercase;
    color: rgba(25, 22, 31, 0.65);
    font-weight: 900;
    line-height: 0.9em;
}
p {
    font-size: 20px;
    color: #444;
}
</style>

{{/contentFor}}


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  
  <h1>Free Boot Camp</h1>
  <h2>With a 12 month membership</h2>
  <!--
  <p class="lead">Don't see the answer to your question? {{#link-to "contact"}}Contact us{{/link-to}} for additional intel.</p>
-->
<br><br>
<p>Purchase a 12 month basic fitness membership and get the <strong>2 week boot camp for free!</strong><br><br>
The cost of 12 month membership is $85/mo for <strong>unlimited classes
</strong> and an <strong>official SEAL Team Physical Training t-shirt
</strong>.</p>
<p><strong>Valid until February 7, 2019</strong>.</p>

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. -->
<button id="checkout-button">Buy Membership</button>
<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_hHfbwdmQRoqDe6nokMB33Ih2', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_EPZAjcAHOUemZZ', quantity: 1}],

      // Note that it is not guaranteed your customers will be redirected to this
      // URL *100%* of the time, it's possible that they could e.g. close the
      // tab between form submission and the redirect.
      successUrl: window.location.protocol + '//sealteampt.com/success',
      cancelUrl: window.location.protocol + '//sealteampt.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
<br><br>
<img src="/images/boot-camp.jpg" alt-"SEAL Team Physical Training Program">
<br><br> 
<br>
<p>Please read carefully. When you purchase the SEAL Team Physical Training membership you agree that this for a 1 year membership, billed at $85 per month. The two-week boot camp, a value of $169 is yours at no additional charge. The official t-shirt is provided at no additional charge.</p>

<p>Students and service employees are eligible for a 10% discount. This discount will be applied prior to your second monthly payment.</p>

<p>We will contact you upon completion of this transaction to get your t-shirt size, and provide you will additional information you will need to begin your training.</p>



  </div>
</div>


 

