{{#contentFor "title"}}Common Questions Asked by New Recruits - SEAL Team Physical Training{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="Common questions asked by new SEAL Team Physical Training recruits.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/faqs">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="Common questions asked by new SEAL Team Physical Training recruits.">
{{/contentFor}}


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  
  <h1>Got Questions</h1>
  <h2>Common questions asked by new recruits.</h2>
  <p class="lead">Don't see the answer to your question? {{#link-to "contact"}}Contact us{{/link-to}} for additional intel.</p>

<h4>Q: What is SEAL Team Physical Training?</h4>
<hr />
<p><strong>A</strong>: SEAL Team PT is an outdoor, team-based fitness training program designed by John McGuire, a former U.S. Navy SEAL. The program is based on much of the same training actual Navy SEALs experience. No two classes are the same and training locations vary from day-to-day.  
</p>

<p>&nbsp;</p>
<h4>Q: Who are the instructors?</h4>
<hr />
<p><strong>A</strong>: We have a diverse group of motivating instructors trained to give you safe, fun, and effective workouts. Our instructors ensure that members encourage others in the class, no matter the level of fitness of any individual. Not all our instructors are Navy SEALs, however some are veterans of the military. All instructors have been personally vetted by former U.S. Navy SEAL, John McGuire.</p>

<p>&nbsp;</p>
<h4>Q: Do I need to be fit to join?</h3>
<hr />
<p><strong>A</strong>: Absolutely not. Many new members have never worked out before. Simply listen to your body, go at your own pace, and keep it fun. We will get you in the best shape of your life.</p>

<p>&nbsp;</p>
<h4>Q: Will SEAL Team Physical Training help me lose weight?</h4>
<hr />
<p><strong>A</strong>: Yes! We had a member lose a whopping 160 lbs. As you progress through our program, you will more than likely have to buy smaller sized clothes. You will save money at the grocery store too.</p>

<p>&nbsp;</p>
<h4>Q: What is the cost of SEAL Team Physical Training?</h3>
<hr />
<p><strong>A:</strong> The cost varies depending upon the city and the membership length. We do offer discounts to members of the U.S. Military, police officers, fire fighters, teachers, full-time students, married couples, and <strike>NSA employees</strike>. We recommend most people who inquire about our program to {{#link-to "/trial"}}try a free class{{/link-to}}.</p>

<p>&nbsp;</p>
<h4>Q: I am a couch potato, will I be able to keep up with the rest of the class?</h4>
<hr />
<p><strong>A:</strong> As a member of our team, others members will encourage you to try harder, and help you when you are too tired to go further. We work as a team. There are no individual winners. Gradually over time, you will become one of the members, pushing the new recruits to try harder.</p>

<p>&nbsp;</p>
<h4>Q: Are classes held in the rain?</h4>
<hr />
<p><strong>A:</strong> Yes! There is no such thing as bad weather -- only bad gear. We workout in the rain, snow, cold, and heat. Classes are only canceled if driving conditions become unsafe or there is severe lightening.</p>

<p>&nbsp;</p>
<h4>Q: Are classes held after sunset?</h4>
<hr />
<p><strong>A:</strong> Yes. During the fall and winter, some of our classes begin after dark. You will be amazed at how well your night vision adapts.</p>

<p>&nbsp;</p>
<h4>Q: Where does the training take place?</h4>
<hr />
<p><strong>A:</strong> Outdoors at local parks located in Richmond, Richmond West End, Charlottesville, Philadelphia and Washington, DC.</p>

<p>&nbsp;</p>
<h4>Q: How difficult is the training?</h4>
<hr />
<p><strong>A:</strong>SEAL Team Physical Training is mentally and physically tough, but isn't that the point? Like most things in life, you will get out of the workouts what you put into it. </p>

<p>&nbsp;</p>
<h4>Q: Will I be able to get changed at the training location?</h4>
<hr />
<p><strong>A:</strong> Show up dressed and ready to go.</p>

<p>&nbsp;</p>
<h4>Q: Should I bring water?</h4>
<hr />
<p><strong>A</strong>:You are required to show up hydrated. Members should bring plenty of water or other hydrating liquid to replenish fluids lost during the workout. We don't supply water, nor are there any vendors nearby.</p>

<p>&nbsp;</p>
<h4>Q: Do you have a safe place to store car keys during the workout?</h4>
<hr />
<p><strong>A:</strong> Yes. Instructors will collect your keys at the beginning of class and safely secure them. Of course, you may also carry them yourself.
</p>

<p>&nbsp;</p>
<h4>Q: What kind of training will the classes include?</h4>
<hr />
<p><strong>A:</strong> High intensity upper and lower body exercises, core strength exercises, endurance training, running, mental conditioning and more endurance training. Instructors will use logs, sandbags, boats, kayaks and mother earth.</p>

<p>&nbsp;</p>
<h4>Q: Will you measure my fitness?</h4>
<hr />
<p><strong>A:</strong> Yes. Each new member is given a fitness test on their first day to access their current level of fitness.  We also periodically test members also to measure progress.</p>


  </div>
</div>


 

