{{#contentFor "title"}}Fitness Program - Boot Camp Richmond Virginia{{/contentFor}}
{{#contentFor "meta"}}
<meta name="description" content="SEAL Team Physical Training is a rigorous fitness program and boot camp designed to get you into the best shape of your life.">
<meta property="og:title" content="SEAL Team Physical Training">
<meta property="og:type" content="website">
<meta property="og:url" content="http://sealteampt.com/join">
<meta property="og:image" content="http://sealteampt.com/images/sm/fb.png">
<meta property="og:description" content="SEAL Team Physical Training is a rigorous fitness program designed to get you into the best shape of your life.">
<style type="text/css">
a {
    color: rgb(58, 117, 169);
    text-decoration: none;
  }
.codes {
  font-size:15px;
  font-weight: 700;
}  
</style>
{{/contentFor}}

<div class="page-section page-section-dark page-section-narrow first-thing">
  <div class="container">
    <h1>Unconventional Fitness Training</h1>
    <h1 class="light">Overcome mediocrity</h1>
	<h4></h4>
    <p class="lead">SEAL Team Physical Training is a rigorous fitness program designed to get you into the best shape of your life. You'll learn to overcome both mental and physical obstacles, the art of teamwork and discipline.</p>
    

    <!--<p>Join the ranks of military personnel, stay at home moms, fireman, and business executives. If you have the guts, we can help you achieve the glory. The team is counting on you.</p>-->
	  <a href="/join/register" class="btn btn-primary btn-large">Join Today</a>
  </div>
</div>


<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>Our Locations</h1>
    <h2 class="light">Richmond &amp; West End, VA -
	 Charlottesville, VA - Washington, DC</h2>
  </div>
</div>




<div class="page-section page-section-light page-section-narrow">
  <div class="container">
    <h1>Our Program</h1>
    <!--<h2>No treadmills, yoga mats or dumbbells</h2>-->
    <p class="lead">SEAL Team Physical Training consists of two distinct components; a 2 Week Boot Camp for beginners and a Fitness Membership Program which is open to individuals who successfully complete Boot Camp.</p>

    <p>Both the Boot Camp and the Fitness Membership Program are modeled John McGuire’s experience as a Navy SEAL. Classes are held outdoors at locations including; local parks; the beach, university campuses, and national monuments. Workouts are 1 hour per day, Monday through Friday.</p>
	

  <h2>2 Week Boot Camp - Basic Fitness Training</h2>
  <p>Boot Camp is designed with one purpose in mind, to prepare you for the Fitness Membership Program. Think of Boot Camp as a basic fitness class to prepare you for a healthier lifestyle.</p>  
  <p>During the 2 week program you will work as a team to negotiate obstacles, paddle boats, climb ropes, carry logs and more. You do not have to be in shape - we'll take care of that for you.</p> 
  <p>After the 2 Week Boot Camp should you decide not to become a member of the Fitness Membership Program, at the very least you'll have a great foundation to build upon and an experience you will remember for life.</p>


	<h2>Fitness Membership Program</h2>
	<p>Our Fitness Membership Program, a safe, fun and intense workout, is open to anyone who has completed the 2 Week Boot Camp.</p>
  <p>The training is designed to push you beyond what you think is possible. A training session might include push-ups on a kayak or in a foot of snow, pull-ups, and sit-ups. Other workouts include paddling across a river, running through a stream, curling a log or a run through a park.
	<!--<p>Our <strong>instructors treat each member with respect</strong>, regardless of fitness level. Members are expected to encourage other members to push through a tough exercise. As an important member of a team, you will learn to push yourself beyond your limits and to leave no one behind.
	<p>On your first day of training, you will be given a test to scrutinize your current level of fitness. After your first month, we'll issue you an official SEAL Team Physical Training t-shirt  you've got to earn this.</p>-->
  <p>Classes are held <strong>regardless of weather conditions
  </strong> (except lightning and unsafe driving conditions), Monday through Friday. Locations vary daily. Exact class locations are posted on our members only website.<p>
  <h4>Class Schedule (Mon-Fri)</h4>
  <p><strong>Richmond</strong> -
   5:45am / 09:30am / 6:00pm<br>
   
   <strong>West End</strong> -
   5:45am<br>
    
   <strong>Charlottesville</strong> -
   6:00am<br>
   
   <strong>DC</strong> -
   5:45am
  <br>
<small>*All classes are one hour in length.</small></p>
<h4>Class Locations</h4>
	   <div class="row"> 
      
      <div class="col-md-6">
        <p><strong>Richmond</strong><br>
          <span class="codes">(RVA545, RVA930, RVA6PM)</span><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1MG6GjhIzQBqZc1oaYN6vntAWkhdrtQKt&ll=37.5939932176168%2C-77.47168602037658&z=15" target="new">Bryan Park<a/><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1FS9M1avdG6a5v12__7R5oBFNS3I&ll=37.53450260015285%2C-77.44878265&z=18">Belle Isle</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=13UQShiLuAYzbHTy0QXMd4N7UAX4MKxlP&ll=37.54053230000002%2C-77.48147610000001&z=17">Dogwood Dell</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1ws2FMc8hGSMoCHEPTtoWmecI5KE&ll=37.53893289999999%2C-77.47473840000004&z=17" target="new">Shields Lake</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1ODtx9qW9RHMWB0e1Wi-2AuxLG6c&ll=37.57391959999999%2C-77.54535550000003&z=17" target="new">University of Richmond</a> / <a href="https://parking.richmond.edu/registration/visitor.html">parking pass</a>
        </p>
    </div>

      <div class="col-md-6">
        <p><strong>West End</strong><br>
          <span class="codes">(WE545AM)</span><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1PkZPYLzPZynzvXj5DYYKrYY7rx43VdNb&ll=37.625890700000014%2C-77.58853909999999&z=17" target="new">Deep Run Park</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1Xr4-c7_on4YIPoRCCABnH3TdsaaXHMSA&ll=37.65368900000001%2C-77.58123280000001&z=17" target="new">Lake Innsbrook</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1R7hnxLNfy4VrhAh_fI4VNxKgXOW7C_xd&ll=37.670617100000044%2C-77.57236410000002&z=17" target="new">Lake Rooty</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1RfDsIaeDfwthaYfXzRYR7OkyH_U&ll=37.669825199999984%2C-77.6141475&z=17" target="new">Striker Park</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1g88--ammT8IijoiZHP-4rrCCdopywjiA&ll=37.663048999999994%2C-77.57527290000002&z=17" target="new">Waterfront Lake</a> (volleyball area)
          
        </p>
      </div>
</div>
<div class="row"> 
      <div class="col-md-6">
        <p><strong>Charlottesville</strong><br>
          <span class="codes">(CV6)</span><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1eOTHCBRQZFKNQphSEMzmyhp1CrFOoTNm&ll=38.16478690000002%2C-78.4400761&z=17" target="new">Chris Green Lake</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=18JIIO8Q2lEkWFCoxAwlIWR0-BjgFazYS&ll=38.0433469%2C-78.44923849999998&z=17" target="new">Darden Towe</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1eKvy3X-liyRo5j6_NFybObujn_-YJBLa&ll=38.04835720000001%2C-78.4782654&z=17" target="new">McIntre Park</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1rGKP6wacCSW-CtCzFvjlcqz2V_NBOHJJ&ll=38.04448120000001%2C-78.50601289999997&z=17" target="new">UVA McCue Center</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1XWZ16NgWRgxLhi3wkzHHJlrwIg8NmhqO&ll=37.926734299999985%2C-78.58932500000003&z=17" target="new">Walnut Creek Park</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1KvUUm9FcKUoqq-G_iBr5EKo80EJyzr1V&ll=38.04042540000002%2C-78.49028709999999&z=17" target="new">Washington Park</a>
          
          
        </p>
      </div>

    <!--Row 2 -->
      <div class="col-md-6">
        <p><strong>DC</strong><br>
          <span class="codes">(DC545)</span><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1e7qL-KmCvBlUI8-X1lsb5GUf7Q3HmVln&ll=38.86742152834159%2C-77.02406825000003&z=15" target="new">Hains Point</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1HSxbSvp4ZhDZdtqo_3Hem7PHu9h0ESXC&ll=38.864714900000024%2C-77.04051019999997&z=17" target="new">Gravelly Point</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1nhkUwflPmUvTwSppMIgYSNLzviS2Ochk&ll=38.89633950000004%2C-77.06688170000001&z=17" target="new">Roosevelt Island Park</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1aV3so0eBEQBKRk-twVxwbSpoCULw3ZHr&ll=38.88768199999999%2C-77.02543889999998&z=17" target="new">Smithsonian Castle</a><br>
          <a href="https://www.google.com/maps/d/viewer?mid=1zmO5vqYK8OP97frJlbTLIQE-YZVXFn4z&ll=38.88517670000002%2C-77.0479426&z=17" target="new">West Potomac Polo Fields</a>
        </p>
      </div>

    </div>
<div class="row">
  <div class="col-md-6">
  <h4>Weekend Run Options</h4>
</div>
</div>
<div class="row">
  <div class="col-md-6">
<p><span class="codes">(RVA/WE Members)</span></br>
  <a href="https://www.google.com/maps/d/viewer?mid=1HCvrsWZhwRhWKFRvgQX0u_SirsIPxQd6&ll=37.5896661%2C-77.53196600000001&z=17" target="new">Bandy Field</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1i83fvFx8mg-YYAcKhMZ9chMMH455c6Sc&ll=37.5239394%2C-77.457312&z=17" target="new">Canoe Run Park</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1WbbRjI7Ob1HtvYQQU74BxjKzZd7ZSzWi&ll=37.5558883%2C-77.48803680000003&z=17" target="new">Carytown Starbucks</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1e80RL4UvDIvtTpRbRUYpMAO6CWz0ungv&ll=37.5264899%2C-77.41159110000001&z=17" target="new">Chimborazon Park</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1tMUeDH1EPgLFlFgTjurPGNt-RDS-fPaP&ll=37.576589599999984%2C-77.5878042&z=17" target="new">Collegiate School</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1Fifm0xfysZ4lTufPiFH4iApyZbsHLBK2&ll=37.56706980000003%2C-77.53950829999997&z=17" target="new">Huguenot Starbucks</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=14Uf2M8YurUzQkUMQf5L75Sqa2Q7G0Lh7&ll=37.56353630000004%2C-77.49910890000001&z=17" target="new">Mary Mumford ES</a><br>
  <a href="https://www.google.com/maps/d/viewer?mid=1u1DgjMCw4xJVysFwDNP5fQ5N0TmpfPUU&ll=37.55842490000001%2C-77.64769790000003&z=17" target="new">Robious Landing</a>
</p>
  </div>
    <div class="col-md-6">
    <p><span class="codes">(CV Members)</span></br>
      <a href="https://www.google.com/maps/d/viewer?mid=1n62nXwJGk6ZeytMIBmY-yweB3qg&ll=38.027736900000065%2C-78.48362450000002&z=17" target="new">Monticello Avenue Run Option</a><br>
      <a href="https://www.google.com/maps/d/viewer?mid=1dCfV6vncTQxSkUZvrgTKXA49cQ6OXRRk&ll=38.05175780000001%2C-78.45140579999997&z=17" target="new">Pen Park Run Option</a><br>
      <a href="https://www.google.com/maps/d/viewer?mid=1R3m5P75_QK22pzGBK20zNy_BT8w&ll=38.004481800000015%2C-78.47920420000003&z=17" target="new">Saunders-Monticello Run Option</a><br>
      <a href="https://www.google.com/maps/d/viewer?mid=1bmL83efnWYkEMyX-bO8B1FvczsSdKcrQ&ll=38.0100866%2C-78.50150539999999&z=17" target="new">Wegmans Way</a>
    </p>
    </div>
</div>
	
</div>
</div>
<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>Best hour of the<br>
     day, hands down</h2>
    
   <p>&nbsp;</p>
   <blockquote>I've really enjoyed my first week at SEAL Team Physical Training. I recently stopped competitive swimming and had been looking for something to help get me back into shape. I was not enjoying the gym. I like waking up every morning not knowing what to expect.<br>
   <small>Michael A.</small> </blockquote>
    
    <blockquote>The workout is the most creative program I have ever been apart of. It's amazing how simple body weight exercises can become so difficult when compounded one after another. Each day I try and push myself harder and have hit the wall multiple times. I get into my car each morning exhausted and drenched in sweat but I am sad its over and I can’t wait to get back the next day.<br>
    <small>Melissa B.</small>
    </blockquote> 

<blockquote>All I can say is wow, what a week!  On the first day I wasn't sure what to expect, but as a former U.S. Army medic I thought it would be similar to regular army PT. Boy, was I wrong! This is amped up Basic Training PT! The instructors are outstanding while demonstrating professionalism in their knowledge and demeanor. There certainly is a "esprit de corp" atmosphere and the civilian class members should realize they are receiving a true taste of military lifestyle."<br>
    <small>Ollie M.</small>
  </blockquote>

  <blockquote>I've been training for elite military service for 4 years.  At SEAL Team Physical Training, I have not only gotten in the best shape of my life, but I also developed incredible leadership, and communication skills with the help of John McGuire and instructors. It is amazing how this training helps those new to fitness and the more elite athletes.<br>
    <small>Sean P.</small>
    </blockquote> 
  
  <blockquote>My doctor told me my blood pressure was dangerously high and, if I didn't do something about it, I'd have to start taking medication. It's been 3 months since I joined up, and my blood pressure is lower than it has been since before college. I'm not the fastest runner in the group, and I still struggle with atomic sit-ups. That said, my doctor is surprised and very pleased, as am I.
    <br>
    <small>Kelly H.</small>
    </blockquote> 
  
     </div>
</div>

<div class="page-section page-section-light page-section-narrow">
  <div class="container">

 <p>&nbsp;</p>
 <h2>Are you up for the mission of a lifetime?</h2>
 <p>&nbsp;</p>
 <div style="padding-left:0" class="col-md-5">
	<h4>Let's get this started</h4>
	<p>Former U.S. Navy SEAL, John McGuire and the entire team is waiting to meet you in person. We promise a mission unlike any other.</p>
	
 <a href="/join/register" class="btn btn-primary btn-large">Join Today</a>
	</div>
	<div class="col-md-7">
	<img src="/images/seal-team-john-mcguire.jpg" alt="former U.S. Navy SEAL, John McGuire">
	</div>

  </div>
</div>

<div class="page-section page-section-lightest page-section-narrow">
  <div class="container">
    <h1>We Support</h1>
     <h2>Navy SEAL Foundation</h2>
    
   <p>To date, we have donated over $24,000 in support and assistance to the Naval Special Warfare Community and its families. </p>
  <a href="http://www.navysealfoundation.org/" target="blank"><img src="images/nsf-logo.png"></a>
   
  
     </div>
</div>





