{{#contentFor "title"}}30 Day Eat Clean, Train Dirty Challenge{{/contentFor}}
{{#contentFor "meta"}}
<meta name="robots" content="noindex, nofollow">
{{/contentFor}}


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  
  <h1>SEAL Team Physical Training</h1>
  <h2>30 Day Eat Clean, Train Dirty Challenge</h2>

<p class="lead">Thanks for joining the Challenge!</p> 

<p class="lead">Check your email for additional information regarding the challenge. Questions? Call us at 804-262-1894.<br><br>
<img src="/images/signature.png" alt="John McGuire">
</p>


  </div>
</div>


 

