<div id="footer">
  <div class="container">
    <div class="footer-col">
      <!--<h4>About</h4>-->
      <ul class="nav">
        <li>{{#link-to "/join" request=request}}Fitness Training{{/link-to}}</li>
		    <li>{{#link-to "/about" request=request}}Our Story{{/link-to}}</li>
		    <li>{{#link-to "/news" request=request}}News{{/link-to}}</li>
		    <li>{{#link-to "/contact" request=request}}Contact Us{{/link-to}}</li>
      </ul>
    </div>
    <div class="footer-col">
      <!--<h4>About</h4>-->
      <ul class="nav">
        <li><a href="/programs/team-building/corporate">Corporate Team Building</a></li>
        <li><a href="/programs/team-building/athletic">Athletic Team Building</a></li>
        <li><a href="/programs/kids">Kids Program</a></li>
        <li><a href="http://navysealjohnmcguire.com/" target="blank">Motivational Speaking</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <!--<h4>About</h4>-->
      <ul class="nav">
        <li>{{#link-to "/join/register" request=request}}Join{{/link-to}}</li>
		<li>{{#link-to "/trial" request=request}}Free Class{{/link-to}}</li>
	    <li>{{#link-to "/faqs" request=request}}FAQs{{/link-to}}</li>

      </ul>
    </div>
  </div>
  <div class="page-section-centered centered social-btns">
   <!-- <a href="http://www.sealteamptmembers.com/Menu/MemberRegistration/MemberSignIn" target="blank"><i class="icon icon-trident"></i> Member Login</a>
    <a href="https://www.facebook.com/sealteamptfans" target="blank"><i class="icon icon-facebook"></i></a>
    <a href="https://twitter.com/SEALTeamPT" target="blank"><i class="icon icon-twitter"></i></a>
    <a href="https://www.youtube.com/user/sealteampt/videos" target="blank"><i class="icon icon-youtube"></i></a>
    <a href="https://plus.google.com/113451835766996680495/posts" target="blank"><i class="icon icon-google-plus"></i></a>
    <a href="https://www.instagram.com/sealteampt/" target="blank"><i class="icon icon-instagram"></i></a>
-->
  </div>
  <div class="page-section-centered centered">
  <form action="//sealteampt.us15.list-manage.com/subscribe/post?u=0123ee119c0a76a989bb5d208&amp;id=4d141cbb15" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-horizontal" target="_blank" novalidate>
    
      <input type="email" name="EMAIL" placeholder="Email" class="form-control required email" id="mce-EMAIL">
      <button type="submit" class="btn btn-primary" style="margin-top:9px; padding-top:5px; padding-right:12px; padding-bottom:5px; padding-left:12px">Subscribe to our Newsletter</button>
    </form>
  </div>
  <div class="container page-section-centered centered">
  <p>&nbsp;</p>
  
    <p class="credits">&copy; {{date format='YYYY'}} SEAL Team Physical Training, Inc. 804-262-1894
      <br>
      <a href="https://rightsignature.com/forms/Fitness-Intake-Fo-d89fda/token/ff56efcb760" target="blank"><span class="credits">Participation Waiver</span></a> | <a href="https://clients.mindbodyonline.com/classic/ws?studioid=883222&stype=-98" target="blank">Member Login</a><br>
    {{#ifeq request.path "/"}}
      <a href="https://chulado.com/" target="blank">Made by Chulado</a></p>
    {{/ifeq}}
  </div>
</div>