

<style>
p.grande {
  font-size: 2.5rem;
  line-height: 1.2;
  color:#444;
  font-weight: 700;
}
</style>
<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Try a Free Workout</h1>
  <h2>Hooyah, request confirmed!</h2>

  <p>&nbsp;</p>

   <p class="grande">Please sign and take a photo of the <a href="https://sealteampt.com/stpt-fitness-intake-form.pdf">participation waiver</a>. Email the photo of the signed waiver (from your mobile phone) to <a href="mailto:admin@sealteampt.com">admin@sealteampt.com</a> prior to attending the workout.</p> 

  <p>A team member will contact you soon at the email address you provided, with details on the exact location for your free workout. We look forward to seeing you soon!</p>
 

  <p>Richmond / 5:45am - Mon-Fri and 6:00pm - Mon-Fri <br>
  Richmond, West End / 5:45am - Mon-Fri and 6:00pm - Days vary  <br>
  Charlottesville / 6:30am - Tue, Thurs and 7:00am - Mon, Wed, Fri <br>
  Washington, DC / 5:45am - Mon-Fri 
        </p>
<br><br>
<br>
  


			


  </div>
</div>


