


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Try a Free Class</h1>
  <h2>Hooyah, reservation confirmed!</h2>

  <p>&nbsp;</p>

   <h4> Please sign and print a copy of the <a href="https://rightsignature.com/forms/Fitness-Intake-Fo-d89fda/token/8eb9f61151e" target="_blank">participation waiver</a>.</h4>
  
  <p>Please remember to bring the waiver with you on the day of your free class. We look forward to seeing you soon!</p>
 

          <p>Richmond / 5:45am / <a href="https://www.google.com/maps/d/u/0/edit?mid=13UQShiLuAYzbHTy0QXMd4N7UAX4MKxlP&ll=37.540532273708855,-77.48147610000001&z=18" target="blank">Dogwood Dell</a><br>
          Richmond, West End / 5:15am / <a href="https://www.google.com/maps/d/u/0/edit?mid=1PkZPYLzPZynzvXj5DYYKrYY7rx43VdNb&ll=37.62589068775945,-77.58853909999999&z=18" target="blank">Deep Run Park</a><br>
          Charlottesville / 6:00am / <a href="https://www.google.com/maps/d/u/0/edit?mid=1eKvy3X-liyRo5j6_NFybObujn_-YJBLa&ll=38.0483571735888,-78.4782654&z=18" target="blank">McIntire Park</a><br>
          Washington, DC / 5:45am / <a href="https://www.google.com/maps/d/u/0/edit?mid=1aV3so0eBEQBKRk-twVxwbSpoCULw3ZHr&ll=38.88768197340863,-77.02543889999998&z=18" target="blank">Smithsonian Castle</a>
<br><br>
<br>
  


			


  </div>
</div>


