


<div class="page-section page-section-light page-section-narrow first-thing">
  <div class="container">
  <h1>Try a Free <br>
  Training Class</h1>
  <h2>Hooyah, reservation confirmed!</h2>

  <p>&nbsp;</p>

  <p>A SEAL Team Physical Training team member will contact you shortly to schedule your free training class as well as provide you with location details.</p>
  <p></p>
  
  <h4> Please sign and print a copy of the <a href="https://rightsignature.com/forms/Waiver7may2013-8826b4/token/40eba9eb163" target="_blank">participation waiver</a>.</h4>
  
  <p>&nbsp;</p>
 

  </ol>
  
  
  
  <p>&nbsp;</p>

			


  </div>
</div>


